/* ========================================================================================================================================================================
   ---------------------------------СЕКЦИЯ "PREFERENCE"------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.sct-preference {
  padding-top: 89px;
  padding-bottom: 40px;
  height: 1104px;
}

.sct-preference__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sct-preference__heading {
  position: absolute;
  top: 450px;
  left: 357px;

  max-width: 480px;
}

.sct-preference__wheel__wheel-inner__content__svg {
  margin-bottom: 16px;
}

.sct-preference__wheel__wheel-inner__content__heading {
  margin-bottom: 6px;
}

.sct-preference__wheel__wheel-inner__content__desc {
  text-align: center;
}

.sct-preference__wheel:nth-of-type(1) .sct-preference__wheel__wheel-inner__content__desc {
  max-width: 255px;
}

.sct-preference__wheel:nth-of-type(2) .sct-preference__wheel__wheel-inner__content__desc {
  max-width: 250px;
}

.sct-preference__wheel:nth-of-type(3) .sct-preference__wheel__wheel-inner__content__desc {
  max-width: 315px;
}

.sct-preference__wheel:nth-of-type(4) .sct-preference__wheel__wheel-inner__content__desc {
  max-width: 230px;
}

.sct-preference__wheel:nth-of-type(5) .sct-preference__wheel__wheel-inner__content__desc {
  max-width: 260px;
}



.sct-preference__wheel__wheel-inner {
  position: absolute;
  left: 50%;
  transform-origin: 0% 100%;
  padding-bottom: 310px;

  animation: main-rotate 16s linear infinite;
}

.sct-preference__wheel__wheel-inner__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: content-rotate 16s linear infinite;
}


@keyframes main-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes main-first-rotate {
  0% {
    transform: rotate(72deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes main-second-rotate {
  0% {
    transform: rotate(144deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes main-three-rotate {
  0% {
    transform: rotate(216deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes main-fourth-rotate {
  0% {
    transform: rotate(288deg);
  }

  100% {
    transform: rotate(0deg);
  }
}




@keyframes content-rotate  {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes content-first-rotate  {
  0% {
    transform: rotate(-72deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes content-second-rotate  {
  0% {
    transform: rotate(-144deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes content-three-rotate  {
  0% {
    transform: rotate(-216deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes content-fourth-rotate  {
  0% {
    transform: rotate(-288deg);
  }

  100% {
    transform: rotate(0deg);
  }
}




.sct-preference__wheel:nth-of-type(2) .sct-preference__wheel__wheel-inner {
  transform: rotate(72deg);
  animation: main-first-rotate 3.6s linear;
}

.sct-preference__wheel:nth-of-type(2) .sct-preference__wheel__wheel-inner__content {
  transform: rotate(-72deg);
  animation: content-first-rotate 3.6s linear;
}

.sct-preference__wheel:nth-of-type(3) .sct-preference__wheel__wheel-inner {
  transform: rotate(144deg);
  animation: main-second-rotate 6.4s linear;
}

.sct-preference__wheel:nth-of-type(3) .sct-preference__wheel__wheel-inner__content {
  transform: rotate(-144deg);
  animation: content-second-rotate 6.4s linear;
}

.sct-preference__wheel:nth-of-type(4) .sct-preference__wheel__wheel-inner {
  transform: rotate(216deg);
  animation: main-three-rotate 9.6s linear;
}

.sct-preference__wheel:nth-of-type(4) .sct-preference__wheel__wheel-inner__content {
  transform: rotate(-216deg);
  animation: content-three-rotate 9.6s linear;
}

.sct-preference__wheel:nth-of-type(5) .sct-preference__wheel__wheel-inner {
  transform: rotate(360deg);
  animation: main-fourth-rotate 12.8s linear;
}

.sct-preference__wheel:nth-of-type(5) .sct-preference__wheel__wheel-inner__content {
  transform: rotate(-360deg);
  animation: content-fourth-rotate 12.8s linear;
}





.sct-preference__wheel:nth-of-type(2).end2 .sct-preference__wheel__wheel-inner {
  animation: main-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(2).end2 .sct-preference__wheel__wheel-inner__content {
  animation: content-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(3).end3 .sct-preference__wheel__wheel-inner {
  animation: main-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(3).end3 .sct-preference__wheel__wheel-inner__content {
  animation: content-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(4).end4 .sct-preference__wheel__wheel-inner {
  animation: main-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(4).end4 .sct-preference__wheel__wheel-inner__content {
  animation: content-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(5).end5 .sct-preference__wheel__wheel-inner {
  animation: main-rotate 16s linear infinite;
}

.sct-preference__wheel:nth-of-type(5).end5 .sct-preference__wheel__wheel-inner__content {
  animation: content-rotate 16s linear infinite;
}