/* ========================================================================================================================================================================
   ----------------------------------ШРИФТЫ--------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* ========================================================================================================================================================================
   -------------------------------WEB SETTINGS-----------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
html {
  font-family: "Roboto", sans-serif ;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, strong {
  margin: 0;
  padding: 0;
}

/* ========================================================================================================================================================================
   ---------------------------------КОНТЕЙНЕР------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.container {
  max-width: 1118px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}


/* ========================================================================================================================================================================
   -----------------------------------UI KIT-------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */



/* ========================================================================================================================================================================
   ---------------------------------ОБЩИЕ СТИЛИ----------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 227px;
  height: 56px;
  max-width: 227px;
  max-height: 56px;

  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  color: #fff;
  border-radius: 8px;

  cursor: pointer;
}

.btn_red {
  background: #F22828;
}

.btn_border {
  border: 2px solid #FFFFFF;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: #0C0C0C;
}

.desc {
  font-size: 18px;
  line-height: 24px;
  color: #626262;
}


/* ========================================================================================================================================================================
   ---------------------------------СЕКЦИЯ "HEADER"------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.header {
  width: 100%;
  height: 88px;
  background: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 111px;
  height: 56px;
}

.header__nav {
  height: 80px;
}

.header__nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  height: 100%;
}

.header__nav__list__item:not(:last-child) {
  margin-right: 32px;
}

.header__nav__list__item__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}


/* ========================================================================================================================================================================
   ---------------------------------СЕКЦИЯ "HERO"------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.sct-hero {
  position: relative;

  width: 100%;
  height: 776px;

  background: url('../img/hero/bg-full.png') no-repeat;
  background-size: cover;
  background-position: center center;
}

.sct-hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 776px;

  background: radial-gradient(99.03% 344.55% at 0.97% 50%, #2726A3 21.15%, rgba(158, 157, 255, 0.7) 100%);
  opacity: 0.8;
}

.sct-hero__container {
  position: relative;
  z-index: 10000;
}

.sct-hero__heading {
  max-width: 616px;

  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;

  padding-top: 216px;
  margin-bottom: 6px;
}

.sct-hero__desc {
  max-width: 567px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;

  margin-bottom: 74px;
}

.sct-hero__box {
  display: flex;
  align-items: center;
}

.sct-hero__box__btn:not(:last-child) {
  margin-right: 32px;
}


/* ========================================================================================================================================================================
   ---------------------------------СЕКЦИЯ "STEPS"------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.sct-steps {
  padding-bottom: 160px;
}

.sct-steps__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sct-steps__heading {
  margin-bottom: 4px;
}

.sct-steps__desc {
  margin-bottom: 130px;
}

.sct-steps__accord {
  display: flex;
  align-items: center;

  padding-right: 62px;
}

.sct-steps__accord__numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sct-steps__accord__numbers__number {
  padding: 18px 16px 30px 0px;

  line-height: 32px;
}

.sct-steps__accord__steps__step {
  width: 778px;

  padding: 30px 0px 26px 0px;

  border-top: 2px solid #9E9DFF;
}

.sct-steps__accord__steps__step:last-child {
  border-bottom: 2px solid #9E9DFF;
}


/* ========================================================================================================================================================================
   ---------------------------------СЕКЦИЯ "STORAGE"------------------------------------------------------------------------------------------------------------------------------
   ======================================================================================================================================================================== */
.sct-storage {
  background: #9E9DFF;
  padding: 138px 0px 160px 0px;
}

.sct-storage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sct-storage__heading {
  color: #fff;

  margin-bottom: 93px;
}